$primary: #07DED7;
$secondary: #ba006d;
$secondaryAlt: #FF6EBC;
$accent: #C28555;
$muted: #95B1AE;

$dark: #26143f;
$light: #E8F3F1;

$success: #3cbb7b;
$warning: #baab43;
$danger: #f44336;

$box-shadow: 0 4px 18px 0 rgba(0,0,0,0.25);
$box-shadow-sm: 0 2px 8px 0 rgba(0,0,0,0.4);